<%= form_for(@x_article) do |f| %>
  <% if @x_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@x_article.errors.count, "error") %> prohibited this x_article from being saved:</h2>

      <ul>
      <% @x_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
