<p id="notice"><%= notice %></p>

<h1>Listing X Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @x_articles.each do |x_article| %>
      <tr>
        <td><%= x_article.title %></td>
        <td><%= link_to 'Show', x_article %></td>
        <td><%= link_to 'Edit', edit_x_article_path(x_article) %></td>
        <td><%= link_to 'Destroy', x_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New X article', new_x_article_path %>
