
<%= form_for(@n_article) do |f| %>
  <% if @n_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@n_article.errors.count, "error") %> prohibited this n_article from being saved:</h2>

      <ul>
      <% @n_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
