<p id="notice"><%= notice %></p>

<div class="container">
<h1>TK's Blog</h1>

<h3>My first Rail Application for CoderSchool Prework</h3>
<div class="col-md-8" align="right" style="padding-top: 10px; padding-bottom: 10px;">
  <%= link_to 'New Article', new_n_article_path, class: 'btn btn-success'%>
</div>


<div class="row">
	<div class="col-md-8">
		 <% @n_articles.each do |n_article| %>
			<div class="card">
				<div class="card-block">
					<h4 class="card-title"><%= n_article.title %></h4>
					<p class="card-text"><%= @markdown.render(n_article.body).html_safe %></p>
				</div>
        <div class="card-footer">

          <%= link_to 'Edit', edit_n_article_path(n_article), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', n_article_path(n_article), method: :delete, class: 'btn btn-warning', data: { confirm: 'Are you sure?' }  %>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
        </div>
			</div>
		<% end %>
	</div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="http://i.imgur.com/T3GOzvo.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">TK Nguyen</h4>
        <p class="card-text">Hello. I'm TK, from VietNam. This is my first blog by Rails. Awesome. Nice to meet all you guy.</p>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure to delete this post?</h4>
        </div>
        <div class="modal-body">
          <p>Delete this post, you can't see this anymore!!!</p>
      </div>
        <div class="modal-footer">


          <button type="button" class="btn btn-default close" data-dismiss="modal">No</button>
        </div>
      </div>

    </div>
  </div>



</div>