<p id="notice"><%= notice %></p>

<div class="container">
<h1>TK's Blog</h1>
<h2>My first Rail Application for CoderSchool Prework</h2>


<div class="row">
	<div class="col-sn-8">
		 <% @n_articles.each do |n_article| %>
			<div class="card">
				<div class="card-block">
					<h4 class="card-title"><%= n_article.title %></h4>
					<p class="card-text"><%= @markdown.render(n_article.body).html_safe %></p>
				</div>
        <div class="card-footer">
          <%= link_to 'Edit', edit_n_article_path(n_article), class: 'btn btn-warning' %>
        </div>
			</div>
		<% end %>
	</div>
</div>


<br>

<%= link_to 'New Article', new_n_article_path %>
</div>