<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-block">
    <h2 class="card-title" align="center">Your Post</h2>
    <p>
      <strong>Title:</strong>
      <%= @n_article.title %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= @n_article.body %>
    </p>
  </div>


  <div id="comment">
    <h2 class="card-title" align="center"><%= @n_article.comments.count %> comments</h2>
    <%= render @n_article.comments %>
  </div>

  <div class="card-block">
    <h2 class="card-title" align="center">Comment</h2>
    <%= render "comments/form" %>
  </div>


  <div class="card-footer">
    <%= link_to 'Back', n_articles_path %>    </div>
</div>
