<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @n_article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @n_article.body %>
</p>

<%= link_to 'Edit', edit_n_article_path(@n_article) %> |
<%= link_to 'Back', n_articles_path %>
